.a11y-hidden, table.availability-grid thead th:after {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  top: 0;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

table.availability-grid {
  margin-left: 3rem; }
  table.availability-grid thead th {
    min-width: 2.5rem; }
    table.availability-grid thead th:after {
      content: 'day'; }
  table.availability-grid tbody tr td {
    position: relative; }
    table.availability-grid tbody tr td:after {
      position: absolute;
      right: 100%;
      padding-right: .5em;
      bottom: 0;
      text-align: right; }
  table.availability-grid tbody tr:nth-of-type(1) td:first-of-type:after {
    content: "12am"; }
  table.availability-grid tbody tr:nth-of-type(2) td:first-of-type:after {
    content: "1am"; }
  table.availability-grid tbody tr:nth-of-type(3) td:first-of-type:after {
    content: "2am"; }
  table.availability-grid tbody tr:nth-of-type(4) td:first-of-type:after {
    content: "3am"; }
  table.availability-grid tbody tr:nth-of-type(5) td:first-of-type:after {
    content: "4am"; }
  table.availability-grid tbody tr:nth-of-type(6) td:first-of-type:after {
    content: "5am"; }
  table.availability-grid tbody tr:nth-of-type(7) td:first-of-type:after {
    content: "6am"; }
  table.availability-grid tbody tr:nth-of-type(8) td:first-of-type:after {
    content: "7am"; }
  table.availability-grid tbody tr:nth-of-type(9) td:first-of-type:after {
    content: "8am"; }
  table.availability-grid tbody tr:nth-of-type(10) td:first-of-type:after {
    content: "9am"; }
  table.availability-grid tbody tr:nth-of-type(11) td:first-of-type:after {
    content: "10am"; }
  table.availability-grid tbody tr:nth-of-type(12) td:first-of-type:after {
    content: "11am"; }
  table.availability-grid tbody tr:nth-of-type(13) td:first-of-type:after {
    content: "12pm"; }
  table.availability-grid tbody tr:nth-of-type(14) td:first-of-type:after {
    content: "1pm"; }
  table.availability-grid tbody tr:nth-of-type(15) td:first-of-type:after {
    content: "2pm"; }
  table.availability-grid tbody tr:nth-of-type(16) td:first-of-type:after {
    content: "3pm"; }
  table.availability-grid tbody tr:nth-of-type(17) td:first-of-type:after {
    content: "4pm"; }
  table.availability-grid tbody tr:nth-of-type(18) td:first-of-type:after {
    content: "5pm"; }
  table.availability-grid tbody tr:nth-of-type(19) td:first-of-type:after {
    content: "6pm"; }
  table.availability-grid tbody tr:nth-of-type(20) td:first-of-type:after {
    content: "7pm"; }
  table.availability-grid tbody tr:nth-of-type(21) td:first-of-type:after {
    content: "8pm"; }
  table.availability-grid tbody tr:nth-of-type(22) td:first-of-type:after {
    content: "9pm"; }
  table.availability-grid tbody tr:nth-of-type(23) td:first-of-type:after {
    content: "10pm"; }
  table.availability-grid tbody tr:nth-of-type(24) td:first-of-type:after {
    content: "11pm"; }
