$topMost:99999;

@mixin accessibly-hidden() {
    position: absolute;
    height: 1px; width: 1px;
    overflow: hidden;
    top:0;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

%accessibly-hidden {
    @include accessibly-hidden;
}

.a11y-hidden {
  @extend %accessibly-hidden;
}

$hours: '12am' '1am' '2am' '3am' '4am' '5am' '6am' '7am' '8am' '9am' '10am' '11am' '12pm' '1pm' '2pm' '3pm' '4pm' '5pm' '6pm' '7pm' '8pm' '9pm' '10pm' '11pm';
$militaryHours: '00:00' '01:00' '02:00' '03:00' '04:00' '05:00' '06:00' '07:00' '08:00' '09:00' '10:00' '11:00' '12:00' '13:00' '14:00' '15:00' '16:00' '17:00' '18:00' '19:00' '20:00' '21:00' '22:00' '23:00';
#availability-grid-form {
  footer {
    margin:1em auto;
    text-align:center;
  }
}

table.availability-grid {
  padding-left:3rem;
  thead {
    th {
      min-width:2.5rem;
      /*&:after {
        @extend %accessibly-hidden ;
        content:'day';
      }*/
    }
  }
  tbody {
    tr {
      td {
        position:relative;
        &:first-of-type {
          &:after {
              position:absolute;
              right:100%;
              padding-right:.5em;
              bottom:0;
              text-align:right;
          }
        }
      }
      @for $i from 1 through length($hours) {
          &:nth-of-type(#{$i}) {
              td {
                &:first-of-type {
                  &:after {
                    content: nth($hours, $i);
                  } // after
                } // first-of-type
              } // td
          } // nth-of-type
      } // for

      div {
        display:block;
        min-height:1em;
        position:relative;
      }

      input[type="checkbox"] {
        appearance:none;
        background:transparent;
        position:absolute;
        z-index:$topMost;
        top:0;
        left:0;
        right:0;
        bottom:0;
        opacity:0;
        width:100%;
        cursor:pointer;
      }

      div {
        background:#F9FAFA;
        border:1px solid darken(#F9FAFA,12%);
        transition: all 0.30s ease-in-out;
        outline: none;
      }

      div {
        &:focus, &:active {
            background:darken(#F9FAFA,12%);
           > label {
              //background:darken(#F9FAFA,12%);
           }
        }
      }

      input[type="checkbox"]:focus ~ div {
        background:darken(#F9FAFA,8%);
        box-shadow: 0 0 5px rgba(81, 203, 238, 1);
        border: 1px solid rgba(81, 203, 238, 1);
      }

      input[type="checkbox"]:checked ~ div {
        background: #64D481;
        border-color: #404853;
      }

      input[type="checkbox"]:focus ~ div {
        //background: #64D481;
        //border-color: transparent;
      }

      input[type="checkbox"]:checked:focus ~ div {
        background: lighten(#64D481,9%);
        border-color:rgba(81, 203, 238, 1);
      }

    }
  }

  &[data-military-time] {
    tbody tr {
      @for $i from 1 through length($militaryHours) {
          &:nth-of-type(#{$i}) {
              td {
                &:first-of-type {
                  &:after {
                    content: nth($militaryHours, $i);
                  } // after
                } // first-of-type
              } // td
          } // nth-of-type
      } // for
    } // tbody tr
  }

}
